.button {
  border-radius: 9999px;
  padding: var(--s) var(--m);
  border: none;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.button__primary {
  color: var(--on-primary-color);
  background-color: var(--primary-color);
}

.button__lorem {
  color: var(--on-primary-color);
  background-color: var(--primary-color);
  width: 6rem;
  height: 2rem;
  padding: var(--m);
  margin: var(--l);
  text-align: center;
}
