.button {
  border-radius: 9999px;
  padding: var(--s) var(--m);
  border: none;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.button__primary {
  color: var(--on-primary-color);
  background-color: var(--primary-color);
}
