.float-box-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-text-left {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 1rem;
  padding: 1rem;
}

.box-text-right {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin: 1rem 0 1rem;
  padding: 1rem;
}

.text {
  margin-left: 1rem;
}

.text-right {
  margin-right: 1rem;
}
