.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer__ {
  display: flex;
  width: 50%;
  flex-direction: row-reverse;
  justify-content: space-around;
}
