:root {
  --base: 0.25rem;
  --s: var(--base);
  --m: calc(var(--base) * 2);
  --l: calc(var(--base) * 4);

  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Open Sans', sans-serif;

  --primary-color: gray;
  --on-primary-color: black;
  --foreground-color: black;
  --background-color: white;
}
